{% extends 'base.html.twig' %}

{% block title %}Hello ProjectController!{% endblock %}

{% block body %}

{% for project in projects %}
    <h1 class="text-3-xl font-bold underline">{{ project.name }}</h1>
    {{ project.slug }}
{% endfor %}

{% endblock %}
